Repository kalidea/kaligraphi, pull requests merged in 2020-10, with the labels that each got.

#324 bug fix for Kal-Autocomplete,
  projects/kalidea/kaligraphi/src/lib/02-form/kal-autocomplete/kal-autocomplete-scroll-strategy.ts
  projects/kalidea/kaligraphi/src/lib/02-form/kal-autocomplete/kal-autocomplete.component.html
  projects/kalidea/kaligraphi/src/lib/02-form/kal-autocomplete/kal-autocomplete.component.ts
  projects/kalidea/kaligraphi/src/lib/02-form/kal-autocomplete/kal-autocomplete.directive.ts
  src/app/02-form/autocomplete/autocomplete.component.ts
  src/app/app.component.sass
  src/styles.sass
Labels: bug

#325 Releases/v10.0.12
  projects/kalidea/kaligraphi/package.json
Labels: RELEASE

#326 Enhancement adding a kal-expansion-panel-footer
  projects/kalidea/kaligraphi/src/lib/03-layout/kal-accordion/kal-accordion.module.ts
  projects/kalidea/kaligraphi/src/lib/03-layout/kal-accordion/kal-expansion-panel-footer/kal-expansion-panel-footer.component.html
  projects/kalidea/kaligraphi/src/lib/03-layout/kal-accordion/kal-expansion-panel-footer/kal-expansion-panel-footer.component.ts
  projects/kalidea/kaligraphi/src/lib/03-layout/kal-accordion/kal-expansion-panel/kal-expansion-panel.component.html
  src/app/03-layout/accordion/accordion.component.html
Labels: enhancement

#328 Fix/kal select add update on blur
  projects/kalidea/kaligraphi/src/lib/02-form/kal-select/kal-select.component.ts
Labels: enhancement

#329 version v10.0.13
  projects/kalidea/kaligraphi/package.json
Labels: RELEASE

#330 Add : Allows access to the overlayRef in kal-autocomplete
  projects/kalidea/kaligraphi/src/lib/02-form/kal-autocomplete/kal-autocomplete.directive.ts
Labels: enhancement

#331 Releases/v10.0.14
  projects/kalidea/kaligraphi/package.json
Labels: RELEASE

#332 fix for the KalDialog afterClosed observable not completing
  projects/kalidea/kaligraphi/src/lib/04-overlay/kal-dialog/kal-dialog-ref.ts
Labels: bug

#333 version v10.0.15
  projects/kalidea/kaligraphi/package.json
Labels: RELEASE

#334 [select] propagate "multiple" information to overlay
  projects/kalidea/kaligraphi/src/lib/02-form/kal-select/kal-select.component.html
  projects/kalidea/kaligraphi/src/lib/02-form/kal-select/kal-select.component.spec.ts
  projects/kalidea/kaligraphi/src/lib/02-form/kal-select/kal-select.component.ts
Labels: enhancement

#336 version v10.0.16
  projects/kalidea/kaligraphi/package.json
Labels: RELEASE

#338 version v10.0.17
  projects/kalidea/kaligraphi/package.json
Labels: RELEASE
