Repository kalidea/kaligraphi, pull requests merged in 2020-03, with the labels that each got.

#283 Fix/kal autocomplete
  projects/kalidea/kaligraphi/src/lib/02-form/kal-autocomplete/kal-autocomplete.component.html
  projects/kalidea/kaligraphi/src/lib/02-form/kal-autocomplete/kal-autocomplete.component.ts
  projects/kalidea/kaligraphi/src/lib/02-form/kal-autocomplete/kal-autocomplete.directive.ts
  projects/kalidea/kaligraphi/src/lib/02-form/kal-autocomplete/kal-autocomplete.module.ts
  src/app/02-form/autocomplete/autocomplete.component.html
  src/app/02-form/autocomplete/autocomplete.component.ts
Labels: bug, enhancement

#284 Add control to non existing date
  projects/kalidea/kaligraphi/src/lib/02-form/kal-datepicker/kal-date.spec.ts
  projects/kalidea/kaligraphi/src/lib/02-form/kal-datepicker/kal-date.ts
  projects/kalidea/kaligraphi/src/lib/02-form/kal-datepicker/kal-datepicker.component.ts
Labels: enhancement

#285 The ngControl setdisabled() method didn't work if the ngControl is cr…
  projects/kalidea/kaligraphi/src/lib/utils/forms/form-element.component.ts
Labels: bug
