Repository kalidea/kaligraphi, pull requests merged in 2021-05, with the labels that each got.

#265 Adding a css property to prevent click propagation
  projects/kalidea/kaligraphi/src/lib/02-form/kal-button/kal-button.sass
Labels: need triage

#363 fix error when unselecting a option set by writeValue
  projects/kalidea/kaligraphi/src/lib/02-form/kal-select/kal-select.component.ts
Labels: bug

#370 version v11.0.7
  projects/kalidea/kaligraphi/package.json
Labels: RELEASE
